<div class="container">
   <div class="allSvg-wrap">
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#adv-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#bell-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#chkd-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#cmnty-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#cmt-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#contr-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#corner-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#dots-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#downloadGif" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#downloadImg" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#downloadSmile" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#eye-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#follow-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#frameBl" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#heart-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#info-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#follow-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#line_up" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#link-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#plus-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#refresh-icon" />
   </svg>

   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#search-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#setting-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#share-icon" />
   </svg>

   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#star-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#tags-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#triangle-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#wallet-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#discord-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#linked-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#plusLg-icon" />
   </svg>
   <svg class="svg-ic">
      <use xlink:href="@img/sprite/symbol/sprite.svg#twitter-icon" />
   </svg>
</div>
</div>