<div class="banner">
   <div class="container">
      <div class="banner__in">

         <div class="banner-left">
            <p class="text--red text--bold">
               post your
            </p>
            <p class="text--bold">
               dapps on the site
            </p>
         </div>
         <div class="banner-center">
            <p>and get</p>
            <p><span class="text--red">5,000,000</span> impressions</p>
            <p>worldwide</p>
         </div>
         <div class="banner-right">
            <p class="dapp-logo">dapp.expert</p>
            <p>Check out the price list</p>
            <p>on the <span class="text--red">advertiser</span> page</p>
         </div>
      </div>
   </div>
</div>