<div class="container">



   <div class="tmp-wrap">
      links
      <a href="#" class="adv btn brd-red">
         <span>Advertise</span>
         <svg class="btn-icon star-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#adv-icon"></use>
         </svg>
      </a>

      <a href="#" class="btn brd-red">
         <span>Post</span>
      </a>

      <a href="#" class="btn brd-red brd-rad">
         <span>Post</span>
      </a>

      <a href="#" class="btn bg-grey txt-itc">
         <span>+ Follow</span>
      </a>

      <a href="#" class="btn bg-grey">
         <span>show more</span>
      </a>

      <a href="#" class="btn bg-grey txt-grey">
         <span>show more</span>
      </a>

      <a href="#" class="btn cust">
         <span>Customize</span>
         <svg class="btn-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#setting-icon"></use>
         </svg>
      </a>

      <a href="#" class="btn btn-tri">
         <span>Read more</span>
         <svg class="btn-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#triangle-icon"></use>
         </svg>
      </a>
      <a href="#" class="btn btn-tri btn-less">
         <span>Read less</span>
         <svg class="btn-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#triangle-icon"></use>
         </svg>
      </a>
      <!--кнопка с углами-->
      <a href="#" class="btn btn-cornd">
         <svg class="btn-icon crIc crIc-lt">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon crIc crIc-rt">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon crIc crIc-lb">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon crIc crIc-rb">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon follow-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#follow-icon"></use>
         </svg>
      </a>
      <a href="#" class="btn btn-cornd">
         <svg class="btn-icon crIc crIc-lt">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon crIc crIc-rt">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon crIc crIc-lb">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon crIc crIc-rb">
            <use xlink:href="img/sprite/symbol/sprite.svg#corner-icon"></use>
         </svg>
         <svg class="btn-icon star-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#star-icon"></use>
         </svg>
      </a>


   </div>


   <div class="tmp-wrap">
      buttons
      <button class="adv btn brd-red">
         <span>Advertise</span>
         <svg class="btn-icon star-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#adv-icon"></use>
         </svg>
      </button>

      <button class="btn brd-red">
         <span>Post</span>
      </button>

      <button class="btn brd-red brd-rad">
         <span>Post</span>
      </button>

      <button class="btn bg-grey txt-itc">
         <span>Follow</span>
      </button>

      <button class="btn bg-grey">
         <span>show more</span>
      </button>

      <button class="btn bg-grey txt-grey">
         <span>show more</span>
      </button>

      <button class="btn cust">
         <span>Customize</span>
         <svg class="btn-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#setting-icon"></use>
         </svg>
      </button>
      <button class="btn btn-tri">
         <span>Read more</span>
         <svg class="btn-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#triangle-icon"></use>
         </svg>
      </button>
      <button class="btn btn-tri btn-less">
         <span>Read less</span>
         <svg class="btn-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#triangle-icon"></use>
         </svg>
      </button>

      <div class="btn-grad-wrap">
         <button class="btn-grad">View all</button>
      </div>

      <div class="dd-grey">
         <a href="#" class="btn">
            <span class="dd-before">
               <svg class="dd-icon link-icon">
                  <use xlink:href="img/sprite/symbol/sprite.svg#link-icon"></use>
               </svg>
            </span>
            link
         </a>
      </div>
   </div>


   <!------------------------------- кнопки из выпадающего списка-->
   <a href="#" class="btn btn-imgic">
      metaMask
      <span class="img-wrap"><img src="@img/metamask.svg" alt="artcle"></span>
   </a>

   <a href="#" class="btn btn-imgic">
      wallet connect
      <span class="img-wrap"><img src="@img/wallet.svg" alt="artcle"></span>
   </a>

</div>