<div class="container">

   <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
         Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dd1">
         <a class="dropdown-item" href="#">Action</a>
         <a class="dropdown-item" href="#">Another action</a>
         <a class="dropdown-item" href="#">Something else here</a>
      </div>
   </div>

   <div class="dropdown dd-grey">
      <button class="btn dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">

         <span class="dd-before">
            <svg class="dd-icon link-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#link-icon" />
            </svg>
         </span>

         Links
      </button>
      <div class="dropdown-menu" aria-labelledby="dd1">
         <a class="dropdown-item" href="#">bnbchain.org/en</a>
         <a class="dropdown-item" href="#">Sourse code</a>
         <a class="dropdown-item" href="#">Whitepaper</a>
      </div>
   </div>


</div>