<div class="container">

   <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
         Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dd1">
         <div class="dropdown-item">
            <a href="#">Action</a>
            <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
               </svg></a>
         </div>
         <div class="dropdown-item">
            <a href="#">Another action</a>
            <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
               </svg></a>
         </div>
         <div class="dropdown-item">
            <a href="#">Something else here</a>
            <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
               </svg></a>
         </div>
      </div>
   </div>

   <div class="ddowns">
      <div class="dropdown dd-grey dd-cntr">
         <button class="btn dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dd-before">
               <svg class="dd-icon contr-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#contr-icon" />
               </svg>
            </span>

            Smart Contract
         </button>
         <div class="dropdown-menu" aria-labelledby="dd1">

            <div class="dropdown-item">
               <a href="#">0x4fabb145d64652a948d72533023f6e7a623c7c53</a>
               <button class="btn">
                  <svg class="svg-ic copy-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#copy-icon" />
                  </svg>
               </button>
            </div>
            <div class="dropdown-item dd-item-btn">
               <a href="#" class="btn btn-imgic">
                  metaMask
                  <span class="img-wrap"><img src="@img/metamask.svg" alt="artcle"></span>
               </a>
            </div>
            <div class="dropdown-item dd-item-btn">
               <a href="#" class="btn btn-imgic">
                  wallet connect
                  <span class="img-wrap"><img src="@img/wallet.svg" alt="artcle"></span>
               </a>
            </div>

         </div>
      </div>
      <div class="dropdown dd-grey">
         <button class="btn dropdown-toggle" type="button" id="dd2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dd-before">
               <svg class="dd-icon link-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#link-icon" />
               </svg>
            </span>

            Links
         </button>
         <div class="dropdown-menu" aria-labelledby="dd2">
            <div class="dropdown-item">
               <a href="#">bnbchain.org/en</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
            <div class="dropdown-item">
               <a href="#">Sourse code</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
            <div class="dropdown-item">
               <a href="#">Whitepaper</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
         </div>
      </div>
      <div class="dropdown dd-grey">
         <button class="btn dropdown-toggle" type="button" id="dd3" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dd-before">
               <svg class="dd-icon expl-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
               </svg>
            </span>

            Explorers
         </button>
         <div class="dropdown-menu" aria-labelledby="dd3">
            <div class="dropdown-item">
               <a href="#">bnbchain.org/en</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>

            <div class="dropdown-item">
               <a href="#">Reddit</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
            <div class="dropdown-item">
               <a href="#">explorer.bnbchain.org</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
            <div class="dropdown-item">
               <a href="#">etherscan.io</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
            <div class="dropdown-item">
               <a href="#">bscscan.com</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
            <div class="dropdown-item">
               <a href="#">blockchair.com</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
         </div>
      </div>
      <div class="dropdown dd-grey">
         <button class="btn dropdown-toggle" type="button" id="dd4" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dd-before">
               <svg class="dd-icon cmnty-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#cmnty-icon" />
               </svg>
            </span>

            Community
         </button>
         <div class="dropdown-menu" aria-labelledby="dd4">
            <div class="dropdown-item">
               <a href="#">Twitter</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
            <div class="dropdown-item">
               <a href="#">Reddit</a>
               <a href="#" class="expl-btn"><svg class="svg-ic expl-icon">
                     <use xlink:href="@img/sprite/symbol/sprite.svg#expl-icon" />
                  </svg></a>
            </div>
         </div>
      </div>
      <div class="dropdown dd-grey dd-tags">
         <button class="btn dropdown-toggle" type="button" id="dd5" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dd-before">
               <svg class="dd-icon tags-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#tags-icon" />
               </svg>
            </span>

            Tags
         </button>
         <div class="dropdown-menu" aria-labelledby="dd5">
            <a href="#" class="dropdown-item">Bnb Chain</a>
            <a href="#" class="dropdown-item">Bnb</a>
            <a href="#" class="dropdown-item">ChapenJao</a>
            <a href="#" class="dropdown-item">Binance</a>
            <a href="#" class="dropdown-item">Coin</a>
            <a href="#" class="dropdown-item">Crypto</a>
         </div>
      </div>
   </div>

   <div class="dropdown dd-grey dd-smp">
      <button class="btn dropdown-toggle" type="button" id="dd2" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
         English
      </button>
      <div class="dropdown-menu" aria-labelledby="dd2">
         <div class="dropdown-item">English</div>
         <div class="dropdown-item">English1</div>
      </div>
   </div>

   <div class="dropdown dd-grey dd-smp dd-lft lang-menu ">
      <button class="btn dropdown-toggle" type="button" id="dd3" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
         Eng
      </button>
      <div class="dropdown-menu" aria-labelledby="dd3">
         <div class="dropdown-item">Eng</div>
         <div class="dropdown-item">Rus</div>
      </div>
   </div>

   <br><br>

   <div class="dropdown dd-grey dd-smp dd-more dd-cnt nw-itm-more">
      <button class="btn dropdown-toggle socItm" type="button" id="ddMore0" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
         <svg class="socItm-icon dots-icon">
            <use xlink:href="img/sprite/symbol/sprite.svg#dots-icon"></use>
         </svg>
      </button>
      <div class="dropdown-menu" aria-labelledby="ddMore0">
         <div class="dropdown-item">Follow</div>
         <div class="dropdown-item">Share</div>
         <div class="dropdown-item">Copy Link</div>
         <div class="dropdown-divider"></div>

         <div class="dropdown-item bg-drk">
            <span class="hwl">
               <span class="eye-icon-wrap">
                  <svg class="dd-icon eye-icon">
                     <use xlink:href="img/sprite/symbol/sprite.svg#eye-icon"></use>
                  </svg>
               </span>
               5k
            </span>
         </div>

         <div class="dropdown-item bg-drk">
            <span class="hwl">
               <div class="di-logo"><img src="@img/logo-mini.jpg" alt="logo"></div>
               <span>BNB</span>
            </span>
         </div>
      </div>
   </div>
   <br><br>
</div>