=========================================
<div class="container">
   <div class="wrapper">
      <textarea name="postText" id="postText" cols="100" rows="8"></textarea>      
      <button type="button" id="showEmojiPicker" class="btn btn-em btn-smile"></button>
      <div class="emoji-wrapper">
         <emoji-picker class="hide dark"></emoji-picker>
      </div>
   </div>
</div>
+++++++++++++++++++++++++++++++++++++++++
<GifPicker apikey="LuMoYviTkqW5nFrx0I1Ndvdtei0TA79P" onSelect="{gifUrl => console.log(gifUrl)}" />
*****************************************
