<div class="container">
    <div class="modal-body contentSign">
        <div class="modal-content modal-auth">
            <div class="modal-auth-col">
                <h3 class="modal-title">
                    <span>Welcome</span>
                    <span>to dapp.expert</span>
                </h3>
                <form id="form-login">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control form-input" placeholder="E-MAIL ADDRESS"
                            value="" required="">
                        <span class="error__text"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control form-input" placeholder="PASSWORD"
                            value="" required="">
                        <span class="hint"></span>
                    </div>
                    <p class="auth-error">wrong login or password. please try again</p>
                    <button type="submit" class="btn bg-red">Log in</button>
                    <h6 class="reg-title">Select wallet</h6>
                    <div class="btn-wrapper">
                        <button type="button" class="btn btn-reg">MetaMask</button>
                        <button type="button" class="btn btn-reg btn-wallet">Wallet Connect</button>
                    </div>
                    <div class="span-agree">
                        <span>By joining, you agree to our</span>
                        <a href="https://test.dapp.expert/dapp.varient/terms-conditions" class="link-terms"
                            target="_blank">Terms &amp; Conditions</a>
                    </div>

                    <input type="hidden" name="sys_lang_id" value="1">
                </form>
            </div>
            <div class="modal-auth-col modal-auth-col--right">

            </div>
        </div>
    </div>
</div>