<div class="container">
   <div class="newsItm">
      <div class="newsItm-hd">
         <a href="#" class="newsItm-logo">
            <img src="@img/logo1.jpg" alt="logo">
         </a>

         <h4 class="newsItm-title"><a href="#">Binance Chain</a></h4>

         <div class="chkd">
            <svg class="chkd-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#chkd-icon" />
            </svg>
         </div>
         <div class="newsItm-date">Nov 20</div>
         <a href="#" class="newsItm-login">@BNBchain</a>
      </div>
      <div class="newsItm-cnt">
         <p>$BTC has bull and bear markets 📈📉
            $STC has shit market, and shit market - just buy the #Shit and you make 💰🤝🚀💹 @Shitcoin is the only
            honest #memecoin out there — buying buyidin...</p>
      </div>
      <div class="newsItm-imgs">
         <div class="newsItm-img">
            <img src="@img/img1.jpg" alt="img">
         </div>
      </div>
      <div class="newsItm-btm">
         <div class="socItm">
            <svg class="socItm-icon heart-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#heart-icon" />
            </svg>
            <div class="socItm-cnt">5K</div>
         </div>
         <div class="socItm">
            <svg class="socItm-icon cmt-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#cmt-icon" />
            </svg>
            <div class="socItm-cnt">651</div>
         </div>
         <div class="socItm">
            <svg class="socItm-icon share-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#share-icon" />
            </svg>
            <div class="socItm-cnt">12</div>
         </div>
         <!--<div class="socItm">
            <svg class="socItm-icon dots-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#dots-icon" />
            </svg>
         </div>-->

         <div class="dropdown dd-grey dd-smp dd-more dd-cnt">
            <button class="btn dropdown-toggle socItm" type="button" id="dd2" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <svg class="socItm-icon dots-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#dots-icon" />
               </svg>
            </button>
            <div class="dropdown-menu" aria-labelledby="dd2">
               <a class="dropdown-item" href="#">Follow</a>
               <a class="dropdown-item" href="#">Share</a>
               <a class="dropdown-item" href="#">Copy Link</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item bg-drk" href="#">5k</a>
               <a class="dropdown-item bg-drk" href="#">BNB</a>
            </div>
         </div>
      </div>
   </div>

   <div class="newsItm mt-2">
      <div class="newsItm-hd">
         <a href="#" class="newsItm-logo">
            <img src="@img/logo1.jpg" alt="logo">
         </a>

         <h4 class="newsItm-title"><a href="#">Binance Chain</a></h4>

         <div class="chkd">
            <svg class="chkd-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#chkd-icon" />
            </svg>
         </div>
         <div class="newsItm-date">Nov 20</div>
         <a href="#" class="newsItm-login">@BNBchain</a>
      </div>
      <div class="newsItm-cnt">
         <p>$BTC has bull and bear markets 📈📉
            $STC has shit market, and shit market - just buy the #Shit and you make 💰🤝🚀💹 @Shitcoin is the only
            honest #memecoin out there — buying buyidin...</p>
      </div>

      <div class="newsItm-imgs">
         <div class="newsItm-img">
            <img src="@img/img2.jpg" alt="img">
         </div>
         <div class="newsItm-img">
            <img src="@img/img3.jpg" alt="img">
         </div>
         <div class="newsItm-img">
            <img src="@img/img4.jpg" alt="img">
         </div>
      </div>
      <div class="newsItm-btm">
         <div class="socItm">
            <svg class="socItm-icon heart-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#heart-icon" />
            </svg>
            <div class="socItm-cnt">5K</div>
         </div>
         <div class="socItm">
            <svg class="socItm-icon cmt-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#cmt-icon" />
            </svg>
            <div class="socItm-cnt">651</div>
         </div>
         <div class="socItm">
            <svg class="socItm-icon share-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#share-icon" />
            </svg>
            <div class="socItm-cnt">12</div>
         </div>
         <div class="dropdown dd-grey dd-smp dd-more dd-cnt">
            <button class="btn dropdown-toggle socItm" type="button" id="dd2" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <svg class="socItm-icon dots-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#dots-icon" />
               </svg>
            </button>
            <div class="dropdown-menu" aria-labelledby="dd2">
               <a class="dropdown-item" href="#">Follow</a>
               <a class="dropdown-item" href="#">Share</a>
               <a class="dropdown-item" href="#">Copy Link</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item bg-drk" href="#">5k</a>
               <a class="dropdown-item bg-drk" href="#">BNB</a>
            </div>
         </div>
      </div>
   </div>

   <div class="newsItm newsItm-bxd mt-2">
      <div class="newsItm-hd">
         <a href="#" class="newsItm-logo">
            <img src="@img/logo1.jpg" alt="logo">
         </a>

         <h4 class="newsItm-title"><a href="#">Binance Chain</a></h4>

         <div class="chkd">
            <svg class="chkd-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#chkd-icon" />
            </svg>
         </div>
         <div class="newsItm-date">Nov 20</div>
         <a href="#" class="newsItm-login">@BNBchain</a>
      </div>
      <div class="newsItm-cnt">
         <p>$BTC has bull and bear markets $STC has shit market, and shit market - just buy the !</p>
      </div>

      <div class="newsItm-btm">
         <a href="#" class="socItm">
            <div class="socItm-icon">
               <img src="@img/logo-mini.png" alt="logo">
            </div>
            <div class="socItm-cnt">BNB Chain</div>
         </a>
         <div class="socItm">
            <svg class="socItm-icon cmt-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#cmt-icon" />
            </svg>
            <div class="socItm-cnt">651</div>
         </div>
         <div class="socItm">
            <svg class="socItm-icon share-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#share-icon" />
            </svg>
            <div class="socItm-cnt">12</div>
         </div>
         <div class="socItm">
            <svg class="socItm-icon dots-icon">
               <use xlink:href="@img/sprite/symbol/sprite.svg#dots-icon" />
            </svg>
         </div>         <div class="dropdown dd-grey dd-smp dd-more dd-cnt">
            <button class="btn dropdown-toggle socItm" type="button" id="dd2" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               <svg class="socItm-icon dots-icon">
                  <use xlink:href="@img/sprite/symbol/sprite.svg#dots-icon" />
               </svg>
            </button>
            <div class="dropdown-menu" aria-labelledby="dd2">
               <a class="dropdown-item" href="#">Follow</a>
               <a class="dropdown-item" href="#">Share</a>
               <a class="dropdown-item" href="#">Copy Link</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item bg-drk" href="#">5k</a>
               <a class="dropdown-item bg-drk" href="#">BNB</a>
            </div>
         </div>
      </div>
   </div>
</div>