<div class="page">
   <div class="container">
      <div class="page__content">
         <div class="bl2col-wrap-blur">
            <div class="hide-text-wrapN blGrad">
               <div class="hide-text">
                  <div class="bl2col-wrap">

                     <div class="bl2col__l ">
                        <div class="">
                           right side
                           <span class="bbgrad"></span>
                        </div>
                     </div>
                     <div class="bl2col__r ">
                        side bar
                     </div>
                  </div>
               </div>
               <span class="bg-grad"></span>
               <!--<button class="btn--more btn--show btnExc-more">Read More</button>
               <button class="btn--more btn--hide btnExc-more">Read Less</button>-->
               <span class="line-up"></span>

            </div>
         </div>
      </div>
   </div>
</div>