
.header
  background-color: $bg_header
  //position: fixed
  top: 0
  left: 0
  width: 100%
  //height: $headerH_mob
  z-index: 1000
  +tablet
    position: relative
    height: auto
    z-index: unset

  .container
    //max-width: 100%!important
    padding: 0

  &__inner
    max-width: 1200px
    +adaptiv-value("padding-left", 20, 20)
    +adaptiv-value("padding-right", 20, 20)
    +adaptiv-value("padding-top", 8, 8)
    +adaptiv-value("padding-bottom", 8, 8)
    display: flex
    align-items: center

  &-top
    //border-bottom: 2px solid rgba(0, 0, 0, 0.2)
    padding-top: 11px
    padding-bottom: 15px
    margin-bottom: 10px
    +cont
      margin-bottom: 2px
  &-btm
    padding-top: 5px
    padding-bottom: 5px

  .logo
    +adaptiv-value("width", 34, 24.6)
    +adaptiv-value("min-width", 34, 24.6)
    +adaptiv-value("height", 34, 24.6)
    +adaptiv-value("min-height", 34, 24.6)
    +adaptiv-value("margin-right", 57, 46)
    img
      width: 100%
      height: 100%
      object-fit: contain

  .btn
    +cont
      +adaptiv-value("min-width", 115, 115)

  .nav
    display: flex
    align-items: center
    flex-direction: column
    justify-content: space-around
    font-family: $EurostileBolObl
    text-transform: uppercase
    font-weight: $bold
    +adaptiv-value("font-size", 14, 14)
    font-style: italic
    background-color: transparent
    +cont
      flex-direction: row

    &-item
      +adaptiv-value("margin-right", 60, 0)
      a
        color: $menucolor

    .nav-item.active, .nav-item:hover, .nav-item:active
      &>a
        color: $grey7a   



.header-top
  &__rt
    margin-left: auto
    display: flex
    align-items: center
    justify-content: space-around
    flex-direction: column
    flex-grow: 1
    +cont
      flex-direction: row


.wch
  +adaptiv-value("margin-right", 20, 10)
  margin-left: unset
  +cont
    margin-left: auto
  .btn-icon
    fill: $greyD9
  
.adv
  +adaptiv-value("margin-right", 20, 0)
  
  .btn-icon
    width: 8px
    height: 10px
    min-width: 8px
    min-height: 10px
    fill: $redB0
    

.search
  &-in
    display: flex
    align-items: center
    background: rgba(0, 0, 0, 0.2)
    border-radius: 6px
    padding: 4px 12px 5px 7px

  &-icon
    width: 10.35px    
    height: 13.18px
    margin-right: 6px
    fill: $grey7a
  
  &-btn
    margin-left: auto
    border-radius: 2px
    background: $redB0
    display: flex
    justify-content: center
    align-items: center
    color: $menucolor
    +adaptiv-value("font-size", 14, 14)
    font-family: $InterRegular
    font-weight: $bold
    min-width: 19px
    min-height: 19px
    width: 19px
    height: 19px
    border: none
    cursor: pointer

  &-wrap
    display: flex
    align-items: center
    input
      background: transparent
      border: none
      color: $grey7a
      +adaptiv-value("font-size", 14, 14)
      font-family: $EurostileReg
      width: 100%
      height: 19px
      padding: 0

.hd-list
  display: flex
  align-items: center
  white-space: nowrap
  overflow-x: auto
  +adaptiv-value("margin-right", 10, 10)
  +adaptiv-value("font-size", 10, 10)

  
  &__item
    display: flex
    align-items: center
    +adaptiv-value("margin-right", 40, 10)
    text-transform: uppercase
    font-family: $EurostileBol
    font-weight: $bold
    &>a
      +adaptiv-value("margin-left", 10, 10)
      color: $redB0

.notif-icon
  min-width: 21px
  min-height: 21px
  width: 21px
  height: 21px
  
  fill: $grey7a
  +cont
    +adaptiv-value("margin-right", 20, 20)

.lang-menu
  margin-left: auto
  +adaptiv-value("margin-right", 20, 20)


.prof-menu
  display: flex
  align-items: center
  border-radius: 6px
  +adaptiv-value("padding-top", 3, 0)
  +adaptiv-value("padding-bottom", 3, 0)
  +adaptiv-value("padding-left", 31, 20)
  +adaptiv-value("padding-right", 10, 7)
  background-color: $bl10
  position: relative
  margin-left: auto
  +cont
    margin-left: unset
    background-color: rgba(0, 0, 0, 0.2)
  
  &-img
    border-radius: 50%
    position: absolute
    +adaptiv-value("left", -15, -13)
    +adaptiv-value("width", 30, 26)
    +adaptiv-value("min-width", 30, 26)
    +adaptiv-value("height", 30, 26)
    +adaptiv-value("min-height", 30, 26)
    img
      width: 100%
      height: 100%
      object-fit: contain
    picture
      display: flex
      align-items: center
      justify-content: center
      padding: 2px
      background: $bl10
      border-radius: 50%
      +cont
        padding: 0
  &-txt
    color: $grey7a
    +adaptiv-value("font-size", 14, 10)
    line-height: 18px
  &-btn
    margin-left: 6px
    +cont
      margin-left: auto
      

.info-icon
  +adaptiv-value("width", 12, 10)
  +adaptiv-value("min-width", 12, 10)
  +adaptiv-value("height", 12, 10)
  +adaptiv-value("min-height", 12, 10)
  fill: $redB0

.hd-btn
  background-color: $bl10
  border-radius: 6.46154px
  padding: 9.69px
  display: flex
  align-items: center
  justify-content: center
  +adaptiv-value("width", 42, 26)
  +adaptiv-value("min-width", 42, 26)
  +adaptiv-value("height", 42, 26)
  +adaptiv-value("min-height", 42, 26)
  +cont
    background-color: transparent
    border-radius: unset
    padding: 0
    width: unset!important
    height: unset!important
  &>span
    display: none
    +cont
      display: inline-block

  .btn-icon
    width: 100%
    height: 100%
    margin-left: unset
    +cont
      width: $w_bicon
      height: $w_bicon
      min-width: $w_bicon
      min-height: $w_bicon
      margin-left: auto
      

  .btn-icon
    fill: $grey40

.burger
  display: flex
  +cont
    display: none


.lang-menu,.btn-notif,.prof-menu
  //display: none
  +cont
    display: flex

.prof-menu, .wch, .btn-notif
  margin-right: 10px
  +cont
    margin-right: unset


.mob
  +cont
    display: none


.header-top__rt,
.header-btm .btn-notif, .header-btm .prof-menu, .header-btm .lang-menu
  display: none
  +cont
    display: flex