
//!======================= NEWS RIGHT SIDE STYLE
.bl-addnews
   +adaptiv-value("margin-top", 19, 19)
   &-in
      display: flex
      flex-direction: column
      padding-left: 15px
      padding-right: 15px
      margin-bottom: 24px
   &-btm
      display: flex
      align-items: center
      margin-top: -2px
      .btn
         margin-left: auto

      .lft
         display: grid
         grid-template-columns: repeat(3, auto)
         +adaptiv-value("grid-column-gap", 17, 17)

         align-items: center

   &-itm:not(:last-child)
      +adaptiv-value("margin-bottom", 19, 19)

.useri
   display: flex

.useri-pht
   display: flex
   align-items: center
   justity-content: center
   +adaptiv-value("width", 22.89, 22.89)
   +adaptiv-value("min-width", 22.89, 22.89)
   +adaptiv-value("height", 22.89, 22.89)
   +adaptiv-value("min-height", 22.89, 22.89)
   border-radius: 50%
   overflow: hidden
   +adaptiv-value("margin-right", 11, 11)
   img
      width: 100%
      height: 100%
      object-fit: contain

.useri-name
   +adaptiv-value("font-size", 16, 16)
   line-height: 1.43
   color: #FFF
   font-family: $EurostileBol
   +adaptiv-value("margin-right", 10, 10)

.useri-email
   +adaptiv-value("font-size", 16, 16)
   line-height: 1.43
   color: $grey6A

.bl2col-itm
   padding-top: 23px
   padding-bottom: 23px
   &:not(:last-child)
      border-bottom: 0.572183px solid $grey24

.bl2col__r
   .nav-tabs
     // +adaptiv-value("margin-left", 15, 15)
     // +adaptiv-value("margin-right", 15, 15)
     // +adaptiv-value("margin-bottom", 23, 23)

      //width: calc(100% - 30px)

   .nav-tabs .nav-link
      +adaptiv-value("font-size", 14, 12)
      line-height: 1

   .btn-more
      width: 100%

.bl2col-tab-hd
   display: flex
   align-items: center
   justify-content: space-between
   padding-top: 17px
   padding-left: 15px
   padding-right: 15px
   padding-bottom: 28px
   background: linear-gradient(180deg, #151B24 -105%, rgba(21, 27, 36, 0.12) 100%)

.tab-hd-itm
   display: flex
   align-items: center
   justify-content: space-between
   +adaptiv-value("font-size", 13.7324, 13.7324)
   line-height: 1
   cursor: pointer
   .svg-icon
      margin-left: 10px
      fill: $redD6

.refresh-icon
   width: 9.15px
   min-width: 9.15px
   height: 9.15px
   min-height: 9.15px

.triangle-icon
   width: 10px
   min-width: 10px
   height: 6px
   min-height: 6px

//блок с рамкой svg на стр Дапп

.blrectIc
   +adaptiv-value("width", 320, 280)
   +adaptiv-value("height", 93, 81)
   background: transparent
   display: flex
   align-items: center
   margin: 0 auto
   background:
      image: url("../img/brd-icon.svg")
      position: 0 0
      repeat: no-repeat
      size: contain

   &-in
      display: flex
      justify-content: space-between
      align-items: center
      position: relative
      width: 100%
      height: 100%
      +adaptiv-value("padding-left", 35, 25)
      +adaptiv-value("padding-right", 35, 35)
      overflow: hidden
      &::before, &::after
         content: ""
         position: absolute
         +adaptiv-value("right", -35, -35)
         background-image: url(../img/line_upSm.png)
         background-size: contain
         background-repeat: no-repeat
         +adaptiv-value("width", 207, 100)
         +adaptiv-value("height", 25, 12)
         display: inline-block
      &::before
         transform: scaleY(-1)
         +adaptiv-value("top", 0, 0)
      &::after
         bottom: 0
         transform: scaleY(1)

   &-title
      color: $grey83
      font-family: $EurostileRegObl
      line-height: 1
      +adaptiv-value("font-size", 14, 14)
      text-transform: uppercase

      display: flex
      flex-direction: column
      .bld
         font-family: $EurostileHeaIta
         color: $grey82
   &-txt
      color: $green25
      text-transform: uppercase
      font-family: $EurostileMed
      +adaptiv-value("font-size", 10, 10)
      line-height: 1
      text-align: right

      display: flex
      flex-direction: column
      align-items: flex-end
      +adaptiv-value("width", 65, 65)

   &-price
      +adaptiv-value("font-size", 20, 20)
      color: #FFFFFF
      text-transform: uppercase
      font-family: $EurostileBol

   &-logo
      +adaptiv-value("width", 30, 30)
      +adaptiv-value("min-width", 30, 30)
      +adaptiv-value("height", 34, 34)
      +adaptiv-value("min-height", 34, 34)
      position: relative
   &-logo-bg
      position: absolute
      +adaptiv-value("top", -8.5, -8.5)
      +adaptiv-value("left", -13.5, -13.5)
      +adaptiv-value("width", 55, 55)
      +adaptiv-value("height", 50, 50)
      stroke: $redB8
      fill: transparent
   &-bg
      position: absolute
      top: 0
      left: 0
      +adaptiv-value("width", 320, 280)
      +adaptiv-value("height", 90, 90)

   &-icon
      position: absolute
      top: 0
      right: 0
      +adaptiv-value("width", 12, 12)
      +adaptiv-value("height", 15, 15)
      //top: calc(50% - 15px/2)
      +adaptiv-value("top", 40, 30)
      +adaptiv-value("right", 5, 5)
      fill: #FFF

   &-logo-img
      width: 100%
      height: 100%
   .svg-icon
      width: 100%
      height: 100%

//!======================= NEWS LEFT SIDE STYLE

.di-logo-wrap
   display: flex
   align-items: center
   +adaptiv-value("font-size", 17, 10)
   line-height: 1
   .di-logo
      margin-right: 5px

.news-img-lg
   width: 100%
   height: auto
   //+tablet
      //+adaptiv-value("width", 806, 320)
      //+adaptiv-value("min-width", 806, 320)
      //+adaptiv-value("height", 268, 105)
      //+adaptiv-value("min-height", 268, 105)

.nw
   +adaptiv-value("font-size", 16, 14)
   h2.title
      +adaptiv-value("margin-bottom", 15, 15)
      +adaptiv-value("font-size", 32, 16)

   .nw-itm-btm
      +adaptiv-value("margin-left", 5, 5)
      +adaptiv-value("margin-bottom", 20, 20)

   .nw-itm .nw-itm-btm
      +adaptiv-value("margin-bottom", 0, 0)

   p:not(:last-child), .su-quote-style-default
      +adaptiv-value("margin-bottom", 38, 38)

   p:last-child
      +adaptiv-value("margin-bottom", 23, 23)

   p:last-child
      +adaptiv-value("margin-bottom", 35, 35)

   .tag
      +tablet
         margin-left: auto
   .flw
      +adaptiv-value("margin-bottom", 30, 30)

   .news-img-lg
      +adaptiv-value("margin-bottom", 25, 25)
      +adaptiv-value("margin-left", -15, -15)

   .nw-tags
      +adaptiv-value("margin-top", -15, -15)
      +adaptiv-value("margin-bottom", 0, 20)

   .dg-2
      +tablet
         +adaptiv-value("grid-column-gap", 10, 0)

.nw-tags
   display: flex
   align-items: flex-start
   flex-direction: column

   +tablet
      flex-direction: row
      align-items: center
   .di-logo-md
      +adaptiv-value("margin-right", 20, 20)
   .di-logo-wrap
      +adaptiv-value("margin-bottom", 0, 20)
      +tablet
         +adaptiv-value("margin-bottom", 0, 0)

.page-news
   margin-top: 76px
   +tablet
      margin-top: 0
   .bl2col-wrap
      margin-top: 0
      +adaptiv-value("padding-top", 15, 15)
   .bl2col__l
      +tablet
         +adaptiv-value("padding-left", 30, 30)

//add image field

.addnews
   &-imgs
      box-sizing: border-box
      margin: 17px 0px 0px
      display: inline-grid
      width: 100%
      grid-template-columns: repeat(3, calc(34% - 8px))
      gap: 10px

   &-img
      display: inline-flex
      cursor: pointer
      vertical-align: bottom
      position: relative
      .img-wrapper
         +adaptiv-value("width", 90, 90)
         +adaptiv-value("height", 90, 90)
         position: relative
         
      
.close-icon
   width: 20px
   min-width: 20px
   height: 20px
   min-height: 20px
   position: absolute
   right: 0px
   top: 6px
   cursor: pointer
   filter: drop-shadow(0px 0px 2px #FFF)
   z-index: 1
   display: flex
   align-items: center
   justify-content: center
   fill: #000

