
.dropdown
   &.dd-grey
      .dropdown-menu
         background: $grey12
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
         border-radius: 4px
         padding: 0

      .dropdown-item
         display: flex
         align-items: center
         width: 100%
         padding: 10px 10px
         clear: both
         font-weight: 400
         color: #FFF
         text-align: inherit
         white-space: nowrap
         background-color: transparent
         border: 0
         +adaptiv-value("font-size", 14, 14)
         line-height: 1.45

      .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover
         color: #fff
         text-decoration: none
         background-color: $grey1E
         border-radius: 2px

      .dropdown-divider
         border-color: $grey242
         margin: 0

   &.dd-smp
      .btn
         padding: 4px 7px 4px 7px
      .dropdown-menu
         min-width: unset
   &.dd-trp
      background-color: transparent

   &.dd-lft
      text-transform: uppercase
      .btn
         +adaptiv-value("font-size", 10, 10)
         padding: 2px 6px 2px 3px
      .dropdown-menu
         width: 100%

      .dropdown-toggle
         text-transform: uppercase
      .dropdown-toggle::after
         order: -1
         margin-left: unset
         margin-right: 4px
         color: $grey40
      .dropdown-item
         text-align: center
         +adaptiv-value("font-size", 10, 10)

   &.dd-cnt
      .dropdown-item
         text-align: center
         justify-content: center

   &.dd-more
      .dropdown-toggle::after
         display: none

.dd-icon
   fill: #FFF
   +adaptiv-value("width", 8.73, 6.52)
   +adaptiv-value("min-width", 8.73, 6.52)
   +adaptiv-value("height", 8.73, 6.52)
   +adaptiv-value("min-height", 8.73, 6.52)

.dd-before
   +adaptiv-value("width", 23, 8)
   +adaptiv-value("min-width", 23, 8)
   +adaptiv-value("height", 23, 8)
   +adaptiv-value("min-height", 23, 8)
   border-radius: 50%
   background-color: $grey1E
   display: inline-flex
   align-items: center
   justify-content: center

   display: flex
   align-items: center
   justify-content: center
   border: 7px solid $bgcolor
   box-sizing: content-box
   position: absolute
   left: -5px
   +adaptiv-value("left", -5, 0)
   +adaptiv-value("border-width", 7, 2)

.dd-grey
   display: inline-flex
   align-items: center
   background-color: $grey12
   color: #FFF
   +adaptiv-value("font-size", 13, 13)
   line-height: 1.45
   font-family: $EurostileReg

   .btn
      position: relative
      +adaptiv-value("padding-top", 4, 0)
      +adaptiv-value("padding-left", 40, 16)
      +adaptiv-value("padding-right", 5, 0)
      +adaptiv-value("padding-bottom", 4, 1)
      color: #FFF
      +adaptiv-value("font-size", 13, 10)
      text-transform: unset
      line-height: 1

.di-logo
   display: flex
   align-items: center
   justify-content: center
   +adaptiv-value("width", 12, 12)
   +adaptiv-value("min-width", 12, 12)
   +adaptiv-value("height", 12, 12)
   +adaptiv-value("min-height", 12, 12)

.eye-icon
   +adaptiv-value("width", 8.14, 8.14)
   +adaptiv-value("min-width", 8.14, 8.14)
   +adaptiv-value("height", 5.7, 5.7)
   +adaptiv-value("min-height", 5.7, 5.7)
   fill: $grey0F

.eye-icon-wrap
   display: flex
   align-items: center
   justify-content: center
   background-color: $grey6B
   border-radius: 4px
   +adaptiv-value("width", 12, 12)
   +adaptiv-value("min-width", 12, 12)
   +adaptiv-value("height", 12, 12)
   +adaptiv-value("min-height", 12, 12)

.dropdown-item
   .eye-icon-wrap, .di-logo
      margin-right: 7px

.dd-more
   padding: 5px!important
   &:hover, &:active
      background-color: $grey15
   .bg-drk
      background-color: $grey15!important
      padding-left: 8px!important
      justify-content: flex-start!important
   .socItm-icon
      margin-right: 0
   .btn
      padding: 3px 4px
   .dropdown-item
      +adaptiv-value("font-size", 11, 11)
      padding: 6px

.dd-more, .hwl
   background-color: transparent!important
   border-left: $btnMore_brd solid transparent!important
   border-radius: 0
   &:hover, &:active
      border-left-color: $redB0!important

.hwl
   display: flex
   align-items: center
   padding: 5px

.dropdown-menu
   border: none

