.inp
   +adaptiv-value("font-size", 9.15493, 9.15493)
   line-height: 4
   text-transform: uppercase
   color: #FFFFFF
   padding-top: 0
   padding-bottom: 0
   +adaptiv-value("padding-left", 14, 14)
   +adaptiv-value("padding-right", 14, 14)
   border: .5px solid $grey3F
   border-radius: 0
   background-color: transparent
   width: 100%
   &::placeholder
      color: #FFFFFF


.inp-img
   height: 14px
   min-height: 14px
   width: 17px
   min-width: 17px
   &-label
      height: 14px
      min-height: 14px
      width: 17px
      min-width: 17px
      
      padding: 0
      border: none
      border-radius: 0
      background-color: transparent
      cursor: pointer
      margin: 0
      &::after
         width: 100%
         height: 100%
         background-color: transparent
         background-image: url("../img/icons/downloadImg.svg")
         background-repeat: no-repeat
         background-size: contain
         padding: 0
         border: none
         border-radius: 0

.inp-img:lang(en)~.inp-img-label::after
   content: ""

