.modal
   

   .modal-body
      padding-top: 70px
      padding-bottom: 20px
      padding-left: 120px
      padding-right: 120px
      color: #FFF
   .modal-content
      background: rgba(2, 3, 3, 0.5)
      box-shadow: 0px 0px 30.9153px #10141B
      backdrop-filter: blur(15px)
      border-radius: 0
      border: none