.tag
   display: flex
   justify-content: space-between
   align-items: center
   width: 100%
   +tablet
      width: unset

   &-itm
      font-family: $EurostileMed
      background: $grey13
      text-transform: capitalize
      color: $grey99
      +adaptiv-value("font-size", 12.7, 10)
      line-height: 1.7
      +adaptiv-value("border-radius", 3.8, 3)
      +adaptiv-value("padding-left", 8, 5)
      +adaptiv-value("padding-right", 6, 5)
      +adaptiv-value("padding-bottom", 4, 1)
      +adaptiv-value("padding-top", 4, 2)
   
   &-itm:not(:last-child)
      +adaptiv-value("margin-right", 13, 5)


.pr-tags
   display: flex
   align-items: center
   .pr-tag
      background: #0D2026
      font-size: 8px
      line-height: 1
      color: #FFFFFF
      padding: 5px 7px
      display: flex
      align-items: center
      justify-content: space-between

   .pr-tag-round
      border-radius: 50%
      width: 20px
      height: 20px
      min-width: 20px
      min-height: 20px
      padding: 0px
      position: relative
      display: flex
      align-items: center
      justify-content: center
      .close-icon
         transform: rotate(45deg)
      .svg-ic:not(.close-icon)
         fill: #9E9E9E
      .twitter-icon
         width: 8px
         height: 8px
         min-width: 8px
         min-height: 8px
      .linked-icon
         width: 7px
         height: 7px
         min-width: 7px
         min-height: 7px
      .discord-icon
         width: 8px
         height: 6px
         min-width: 8px
         min-height: 6px
      .btn-round
         margin: 0
         position: absolute
         right: -5px
         top: 50%
         margin-top: -3px

   .pr-tag:not(:last-child)
      margin-right: 10px

.pr-tags-brd
   border: 0.5px solid #151B23
   padding: 5px 6px
   width: 100%

.btn-round
   width: 10px
   height: 10px
   margin-left: 10px
   display: flex
   align-items: center
   justify-content: center
   .close-icon
      fill: #0D6169
      min-width: 10px
      min-height: 10px
      width: 10px
      height: 10px
      border-radius: 50%



      