
//!GENERAL SETTINGS
body
  font:
    family: $EurostileMed
    weight: $regular
    size: $fs_body+px
  color: $fontcolor
  line-height: $lh_body
  min-width: $contMinWidth
  margin: 0
  padding: 0
  height: 100vh
  background-color: $bgcolor
  +adaptiv-value("font-size", $fs_body, $fs_body)

//CONTAINER  
.container
  max-width: $contMaxWidth !important
  width: 100%
  margin: 0 auto
  padding-left: $contPlMob+px
  padding-right: $contPlMob+px
  +tablet
    padding-left: $contPlTablet+px
    padding-right: $contPlTablet+px
  +laptop
    padding-left: $contPl+px
    padding-right: $contPl+px

.body-wrap
  display: flex
  flex-direction: column
  height: 100vh

//LINK
.link
  color: $accentColor   

//LOGO  
.logo
  +adaptiv-value("width", 132, 132)
  +adaptiv-value("min-width", 132, 132)
  +adaptiv-value("height", 30, 30)
  +adaptiv-value("min-height", 30, 30)

//BUTTONS
.btn
  background: #000


  
//TITLES
h1
  &.title
    +adaptiv-value("font-size", 40, 34)
    line-height: 1.2    
h2
  &.title
    +adaptiv-value("font-size", 32, 24)
    line-height: 1.2    



.subtitle
  +adaptiv-value("font-size", 12, 12)
  line-height: 1.5
  &>a
    color: inherit


.scroll-trp::-webkit-scrollbar 
  width: 0              

.scroll-trp::-webkit-scrollbar-track 
  background: transparent        

.scroll-trp::-webkit-scrollbar-thumb 
  background-color: transparent  
  border-radius: 0       
  border: 0px solid transparent  

.scroll-trp
  scrollbar-width: none        

