//GENERAL STYLES
*
  box-sizing: border-box
  &:focus, &:active
    outline: none !important

h1, h2, h3, h4, p, ul, ol
  margin: 0px
  padding: 0px

a
  display: inline-block
  text-decoration: none
  color: inherit
  transition: color .5s ease-out 0s
  &:hover, &:active
    text-decoration: none
    color: inherit

ul
  list-style: none

.title
  //font-weight: $semiBold
  word-break: break-word

//LOGO
.logo
  display: flex
  align-items: center
  &>a
    width: 100%
    height: 100%
  img
    max-width: 100%
    height: 100%
    object-fit: contain

img, picture
  width: 100%
  height: 100%
  object-fit: contain

picture
  display: flex
  align-items: center

$pointW: 8px

ul.ulN, .tcpp ul.ulN
  display: flex
  flex-direction: column
  li
    margin-bottom: 13px
    position: relative
    display: flex
    align-items: center
    color: #FFFFFF
    margin-left: 0
    &::before
      content: ""
      display: flex
      margin-right: 23px
      width: $pointW
      height: $pointW
      min-width: $pointW
      min-height: $pointW
      border-radius: 50%
      background-color: $redB0

.post .post-text ul.ulN
  list-style: none
  margin-left: 0

.lineVert
  position: relative
  &::after
    content: ""
    position: absolute
    top: -23px
    left: 3px
    //width: 3px
    height: 100%
    border-width: 2px
    border-style: solid
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(47, 47, 48, 1)), to(rgba(47, 47, 48, 0))) 1 100%
    -webkit-border-image: -webkit-linear-gradient(bottom, rgba(47, 47, 48, 1), rgba(47, 47, 48, 0)) 1 100%
    -moz-border-image: -moz-linear-gradient(bottom, rgba(47, 47, 48, 1), rgba(47, 47, 48, 0)) 1 100%
    -o-border-image: -o-linear-gradient(bottom, rgba(47, 47, 48, 1), rgba(47, 47, 48, 0)) 1 100%
    border-image: linear-gradient(to top, rgba(47, 47, 48, 1), rgba(47, 47, 48, 0)) 1 100%
    border-right: 0

.dg-2
  display: grid
  grid-template-columns: 1fr
  +adaptiv-value("grid-column-gap", 0, 0)
  +tablet
    grid-template-columns: repeat(2,1fr)
    +adaptiv-value("grid-column-gap", 33, 0)

.dg-3
  display: grid
  grid-template-columns: 1fr
  +adaptiv-value("grid-column-gap", 0, 0)
  +tablet
    grid-template-columns: repeat(3,1fr)
    +adaptiv-value("grid-column-gap", 33, 0)

.gr3
  grid-row: unset!important
  +tablet
    grid-row: span 3!important

.gr2
  grid-row: unset!important
  +tablet
    grid-row: span 2!important

.gc2
  grid-column: unset!important
  +tablet

    grid-column: span 2!important

.br0
  border-radius: 0!important

.title-wrap
  display: grid
  grid-template-columns: 1fr
  align-items: center
  +tablet
    grid-template-columns: auto 1fr
    +adaptiv-value("column-gap", 25, 0)

.title-sub
  +adaptiv-value("font-size", 16, 14)
  line-height: 1.45
  color: $grey93

.ban-none-mob
  .banner
    display: none
    +tablet
      display: block

//--------------------------- .bl-quote - цитата
/*.bl-quote
  color: $greyDB
  font-family: $EurostileItalic
  position: relative
  &::before, &::after
    content: ""
    display: inline-block
    position: absolute
    width: 80%
    height: 1px
    background: rgb(169,14,53)
    background: linear-gradient(38deg, rgba(169,14,53,1) 0%, rgba(239,18,68,1) 52%, rgba(169,14,53,1) 100%)
  &::before
    right: 0
    top: 0
    width: 92%
  &::after
    left: 0
    bottom: 0

  &-in
    +adaptiv-value("padding-top", 18, 18)
    +adaptiv-value("padding-left", 46, 46)
    +adaptiv-value("padding-right", 66, 66)
    +adaptiv-value("padding-bottom", 18, 18)
    position: relative
    &::before, &::after
      content: "“"
      display: inline-block
      position: absolute
      font-family: $EurostileBlaItalic
      +adaptiv-value("font-size", 40, 40)
      line-height: 1
      +adaptiv-value("max-height", 12, 12)
      color: $redB0

    &::before
      left: 0
      +adaptiv-value("top", -10, -10)
    &::after
      right: 0
      bottom: 0

  &-auth
    display: inline-block
    position: absolute
    right: 0
    +adaptiv-value("bottom", -10, -10)
    +adaptiv-value("margin-left", 33, 33)
    +adaptiv-value("margin-right", 33, 33)
  p
    margin-bottom: 0*/

.su-quote-style-default 
  position: relative
  color: $greyDB
  font-family: $EurostileItalic
  padding: 0
  &::before, &::after
    content: ''
    position: absolute
    display: inline-block
    width: 60%
    height: 1px
    background-image: none
    background: rgb(169,14,53)
    background: linear-gradient(38deg, rgba(169,14,53,1) 0%, rgba(239,18,68,1) 52%, rgba(169,14,53,1) 100%)
    +tablet
      width: 80%
    

  &:before 
    top: 0
    left: unset
    background-position: unset
    right: 0
    width: 92%
  &::after
    left: 0
    right: unset
    bottom: 0
    background-position: unset

  .su-quote-cite 
    display: block
    text-align: right
    font-style: normal

.su-quote-inner
  +adaptiv-value("padding-top", 18, 25)
  +adaptiv-value("padding-left", 46, 23)
  +adaptiv-value("padding-right", 66, 33)
  +adaptiv-value("padding-bottom", 15, 25)
  position: relative
  text-align: center
  +tablet
    text-align: left

  &::before, &::after
    content: "“"
    display: inline-block
    position: absolute
    font-family: $EurostileBlaItalic
    +adaptiv-value("font-size", 40, 20)
    line-height: 1
    +adaptiv-value("max-height", 12, 6)
    color: $redB0

  &::before
    left: 0
    +adaptiv-value("top", -10, -5)
  &::after
    right: 0
    +adaptiv-value("bottom", -10, -5)
    transform: rotate(180deg)

.su-u-trim>:last-child 
  margin-bottom: 0

.su-u-trim>:first-child 
  margin-top: 0

.su-u-clearfix::after 
  content: "“"
  display: inline-block
  clear: unset

.su-quote-style-default .su-quote-cite a 
  text-decoration: none
  display: inline-block
  position: absolute
  right: 0
  +adaptiv-value("bottom", -10, -10)
  +adaptiv-value("margin-left", 0, 0)
  +adaptiv-value("margin-right", 55, 15)


.su-quote-style-default .su-quote-cite:before 
  content: ''

//--------------------------- .bl-quote - цитата

.di-logo-wrap
  display: flex
  align-items: center
  +adaptiv-value("font-size", 18, 18)
  line-height: 2.5
  font-family: $EurostileBol

  &.di-logo-wrap-grid
    display: grid
    grid-template-columns: auto 1fr
    //column-gap: 10px
    row-gap: 3px
    line-height: 1
    +tablet
      grid-template-columns: auto auto
    .di-logo
      +adaptiv-value("font-size", 16, 16)
      +tablet
        grid-row: span 2
    .di-logo-txt
      display: none
      +adaptiv-value("font-size", 12, 12)
      font-family: $EurostileMed
      color: $grey93
      grid-column: 2
      +tablet
        display: block

.di-logo-md
  +adaptiv-value("width", 42, 42)
  +adaptiv-value("min-width", 42, 42)
  +adaptiv-value("height", 42, 42)
  +adaptiv-value("min-height", 42, 42)

.di-logo.di-logo-sm1
  +adaptiv-value("width", 30, 20)
  +adaptiv-value("min-width", 30, 20)
  +adaptiv-value("height", 30, 20)
  +adaptiv-value("min-height", 30, 20)

.di-logo.di-logo-sm
  +adaptiv-value("width", 20, 20)
  +adaptiv-value("min-width", 20, 20)
  +adaptiv-value("height", 20, 20)
  +adaptiv-value("min-height", 20, 20)

.di-logo-round
  border-radius: 50%
  overflow: hidden

.di-logo-icn
  position: relative

  .btn
    position: absolute
    background: $grey1E
    padding: 0
    +adaptiv-value("right", 15, 15)
    +adaptiv-value("bottom", -5, -5)
    +adaptiv-value("width", 21, 21)
    +adaptiv-value("min-width", 21, 21)
    +adaptiv-value("height", 21, 21)
    +adaptiv-value("min-height", 21, 21)

  .plus-icon
    fill: $redD6
    +adaptiv-value("width", 8.4, 8.4)
    +adaptiv-value("min-width", 8.4, 8.4)
    +adaptiv-value("height", 8.4, 8.4)
    +adaptiv-value("min-height", 8.4, 8.4)

//Блок с разделителем
.newsAll-bl, .lnBt-bl
  padding-bottom: 0
  padding-top: 0
  +tablet
    +adaptiv-value("padding-bottom", 30, 0)
    +adaptiv-value("padding-top", 30, 0)

  &:first-child
    padding-top: 0

  &:not(:last-child)
    +tablet
      border-bottom: 1px solid $grey24

  .nw-itm
    border-bottom: 1px solid $grey24
    +adaptiv-value("padding-top", 22, 22)
    +adaptiv-value("padding-bottom", 22, 20)
    +adaptiv-value("margin-bottom", 0, 0)
    width: 100%
    +tablet
      width: auto

.flw
  display: flex
  align-items: center
  justify-content: space-between

//------------------------------ bg grey with gradient  
.bg-grey-grad
  position: relative
  &::before
    display: none
    +tablet
      display: block
      content: ""
      position: absolute
      top: 0
      +adaptiv-value("left", -40, -40)
      +adaptiv-value("height", 156, 156)
      +adaptiv-value("width", 838, 320)
      background: linear-gradient(180deg, #151B24 -105%, rgba(21, 27, 36, 0.12) 100%)

.svg-ic
  width: 20px
  min-width: 20px
  height: 20px
  min-height: 20px
  fill: $grey8D

.allSvg-wrap
  margin-top: 20px
  margin-bottom: 20px
  display: grid
  grid-template-columns: repeat(4, 1fr)
  column-gap: 20px
  row-gap: 20px

.contr-icon, .dd-icon.contr-icon
  +adaptiv-value("width", 9, 9)
  +adaptiv-value("min-width", 9, 9)
  +adaptiv-value("height", 11, 11)
  +adaptiv-value("min-height", 11, 11)

.link-icon, .dd-icon.link-icon
  +adaptiv-value("width", 12, 12)
  +adaptiv-value("min-width", 12, 12)
  +adaptiv-value("height", 12, 12)
  +adaptiv-value("min-height", 12, 12)

.expl-icon, .dd-icon.expl-icon
  +adaptiv-value("width", 10, 10)
  +adaptiv-value("min-width", 10, 10)
  +adaptiv-value("height", 11, 11)
  +adaptiv-value("min-height", 11, 11)

.cmnty-icon, .dd-icon.cmnty-icon
  +adaptiv-value("width", 8, 8)
  +adaptiv-value("min-width", 8, 8)
  +adaptiv-value("height", 10, 10)
  +adaptiv-value("min-height", 10, 10)

.tags-icon, .dd-icon.tags-icon
  +adaptiv-value("width", 17, 17)
  +adaptiv-value("min-width", 17, 17)
  +adaptiv-value("height", 17, 17)
  +adaptiv-value("min-height", 17, 17)
  fill: $grey40

.copy-icon
  +adaptiv-value("width", 9, 9)
  +adaptiv-value("min-width", 9, 9)
  +adaptiv-value("height", 10, 10)
  +adaptiv-value("min-height", 10, 10)