//GENERAL STYLES
*
  box-sizing: border-box
  &:focus, &:active
    outline: none !important


h1, h2, h3, h4, p, ul, ol
  margin: 0px    
  padding: 0px

a
  display: inline-block
  text-decoration: none
  color: inherit
  transition: color .5s ease-out 0s
  &:hover, &:active
    text-decoration: none
    color: inherit

ul
  list-style: none

.title
  //font-weight: $semiBold
  word-break: break-word


//LOGO
.logo
  display: flex
  align-items: center
  &>a
    width: 100%
    height: 100%
  img
    max-width: 100%
    height: 100%
    object-fit: contain  


img, picture
  width: 100%
  height: 100%
  object-fit: contain

picture
  display: flex
  align-items: center