//SYSTEM COLORS
$bgcolor: var(--bgcolor)
$menubg: var(--menubg)
$menucolor: var(--menucolor)
$fontcolor: var(--fontcolor)
$menucolor: var(--menucolor)
$submenu-color: var(--submenu-color)
$submenu-active-bg: var(--submenu-active-bg)
$submenu-active-color: var(--submenu-active-color)
$submenu-title-color: var(--submenu-title-color)
$block-menu-color: var(--block-menu-color)
$block-menu-bg: var(--block-menu-bg)
$post-title-color: var(--post-title-color)
$post-col-title-color: var(--post-col-title-color)
$seemore-btn-color: var(--seemore-btn-color)
$seemore-btn-bg: var(--seemore-btn-bg)
$border-color: var(--border-color)


//!GENERAL COLORS --for change
$accentColor: #B039AE //violetta
$violetta1: #8E128C //violetta1
$grey: #c4c4c4   
$grey1: #363636 //slider bg
$grey2: #888888
$grey3: #938E8E
$grey4: #3D3B3B
$grey6: #999999
$grey5: rgba(255, 255, 255, 0.17)
$grey6: #303030
$grey7: #323232
$grey8: #242424
$grey9: #282828
$grey10: #333333
$grey13: #f3f3f3
$grey14: #d2d2d2
$grey15: #dddddd
$grey16: #4a4a4a
$grey17: #2D2D2D
$grey18: #1b1b1b
$grey19: #202020
$bg_header: #000000


$green: #00BB00   
$green1: #0D913D 

$red: #FD0404
$red1: #930000

$black1: #101010   
$black2: #111111  
$black3: #161616 

$orange: #ff9800

//FONT-WEIGHTS   
$thin: 100
$light: 300
$regular: 400
$medium: 500
$semiBold: 600
$bold: 700   

//!FONT-SIZES --for change
$lh_body: 1.21
$fs_body: 14

$fs_diff: 3

//!FONT-FAMILY --for change  
$Inter: 'Inter'
$Roboto: 'Roboto'



//GENERAL VARS
$contMinWidth: 320px   
$contMaxWidth: 1240px
$contPl: 20
$contPlTablet: 40
$contPlMob: 20

//BUTTON
$br_pill: 5px    
$br_btn: 2px  
$w_bicon: 20px  

//grid for item
$artcVertGrid: calc(50px + 337 * ((100vw - 320px)/ 1440)) auto  
$artVertGridRow: auto 
$artcVertHeightMob: 130px
$artcVerPosttHeightMob: 167px
$artcImgBr: 8px
$artcItemHMob: 130
$artcItemH: 150


$h_scroll: 80
$h_scroll_mob: 56
$w_scrollImg: 165
$w_scrollImg_mob: 133

$field_br: 4px

$headerH_mob: 56px
